	#ben-section{
		display: flex;
		width: 100%;
	}

/*--------------------------------------------------------------
# A-SIDE (BTN INFO)
--------------------------------------------------------------*/
	.ben-side1{
		width: 25%;
		padding: 2em;
	}

	.ben-set{
		width: 25%;
		position: fixed; /* NO SCROLL */
	}
	

/* CARDS/BTN AREA */

	.ben-container{
		display: flex;
		margin-top: 5em;
		padding: 0;
	}

	.b-link {
		background: #d9d9d97a;
		border: 0.15em solid #0c2340;
		color: #0c2340;
		font-weight: bold;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 2em 1em;
		text-align: center;
		line-height: normal;
		border-radius: 15px !important;
		margin: 0.7em;
		transition: all 0.3s ease;
		width: 180px;
	}

	.b-link:first-child, .b-link:nth-child(2){
		margin-top: 0;
	}

	.b-link:first-child, .b-link:nth-child(3){
		margin-left: 0;
	}

	.b-link:nth-child(2), .b-link:last-child{
		margin-right: 0;
	}

	.b-link > svg{
		margin-bottom: 2em;
		fill: #0c2340;
		max-width: 120px !important;
		max-height: 60px;
		transition: all 0.3s ease; /* soft transition */
	}

/* SETTINGS SVG (HOVER & ACTIVE) */
	.b-link.active > svg{
		fill: #f3f3f3;
	}

/* SETTINGS BTN (HOVER & ACTIVE) */
	.b-link.active,
	.b-pills .nav-link.active,
	.b-pills .nav-link.active:hover {
		color: #f3f3f3;
		background-color: #0c2340 !important;
	}

	.b-link:hover,
	.b-pills .nav-link:hover {
		background: #a8adb0;
		border: 0.15em solid #0c2340;
		color: #0c2340;
		fill: #0c2340;
		transition: all 0.3s ease;
	}


/*--------------------------------------------------------------
# B-SIDE (CARDS INFO)
--------------------------------------------------------------*/
	.ben-side2{
		width: 75%;
		padding: 2em;
	}

	.b-card{
		display: flex !important;
		border-radius: 15px;
		border: 0.2em solid #0c2340;
		background: #e9e9e9;
		margin: 0.5em 0;
		padding: 2.5em;
		font-weight: 400;
		flex-direction: column;
	}

	.b-c1{
	    display: flex;
	}

	/* EXCEPTION SETTING >1 benefit*/
		.b-c2{
			padding-top: 2.5em;
			margin-top: 2.5em;
			border-top: 0.15em solid #0c2340;
		}

/* CARD NAME */
	.b-c-img {
		width: 15%;
		background: #f5f5f5;
		border: 0.2em solid;
		border-radius: 0.5em;
		padding: 1.5em 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 3em;
		justify-content: center;
		text-align: center;
		height: fit-content;
	}

	.b-c-img > h2{
		font-weight: 800;
		text-transform: uppercase;
		line-height: normal;
	}

	.b-c-img > img{
		width: 100%;
		padding-bottom: 2em;
	}

/* CARD BODY TEXT */
	.b-c-body{
		width: 80%;
		line-height: 1.5em;
		> ul{
			padding-left: 1.5em;
		}
	}

	.b-c-body > p > span,
	.b-c-body > span,
	.b-c-body > ul > li > span{
		font-weight: 700;
		font-size: 16pt;
	}

/* RESPONSIVE AREA BENEFITS */

@media (max-width: 1855px){
	.ben-side1, .ben-set {
		width: 30%;
	}
	.ben-side2 {
		width: 70%;
	}
	.b-c-img{
		width: 20%;
	}
}

@media (max-width: 1545px){
	.ben-container{
		margin-top: 2em;
	}
	.b-link{
		padding: 1.2em 0.4em;
		margin: 0.5em;
	}
	.b-link1 > svg{
		margin-bottom: 1em;
	}
	.ben-title > h1{
		line-height: 32pt;
	}
}

@media (max-width: 1600px){
	.b-link {
		border: 0.16em solid #0c2340;
	}
	.b-link:hover,
	.b-pills .nav-link:hover {
		border: 0.16em solid #0c2340;
	}
}

@media (max-width: 1500px){
	.b-link > svg{
		margin-bottom: 0;
		margin-left: 1em;
		max-width: 43px !important;
		max-height: 45px;
	}
	.b-pills{
		flex-direction: column;
	}
	.b-link {
		width: 320px;
		flex-direction: row;
		margin: 0.3em 0;
		justify-content: normal;
		padding: 0.4em 1em;
		
		br{
			visibility: hidden;
			display: none;
		}
	}
	.b-link > svg {
		margin: 0 1em 0 0;
	}
	.b-link:nth-child(2){
		margin: 0.3em 0;
	}
}

@media (max-width: 1250px){
	#ben-section{
		flex-direction: column;
	}
	.ben-side1{
		width: 100%;
    	display: flex;
	}
	.ben-set{
		position: relative;
    	display: flex;
		flex-direction: row;
		width: 100%;
	}
	.ben-container{
		margin-top: 0;
    	margin-left: 6em;
	}
	.ben-side2{
		width: 100%;
	}
	
	.b-pills{
		flex-direction: row;
	}
	.b-link {
		flex-direction: row;
		margin: 0.6em;
		padding: 0.5em 1em;
		width: 310px;
		text-align: left;
	}
	.nav-pills{
		justify-content: flex-end;
	}
	.b-link:first-child{
		margin: 0 0.6em 0.6em 0;
	}
	.b-link:nth-child(2){
		margin: 0 0 0.6em 0.6em;
	}
}

@media (max-width: 1085px){
	.ben-set{
		flex-direction: column;
	}
	.ben-container, .ben-container > row{
		margin: 1.5em 0 0 0;
    	width: 100%;
	}
	.nav-pills{
		justify-content: flex-start;
	}
	.b-link{
		padding: 0.4em 0.7em;
	}
	.info-content1, .ben-content1 {
		padding: 0;
	}
	.ben-title{
		padding-bottom: 1em;
	}
	.ben-title > h1 > br{
		display: none;
		flex: none;
	}
	.ben-side2{
		padding-top: 0;
	}
}

@media (max-width: 991.5px){
	.ben-container, .ben-container > row{
		margin: 2em 0 0 0;
    	width: 100%;
	}
	.b-link{
		margin: 0.5em;
		font-size: 12pt;
		width: 250px;
		svg{
			width: 35px;
			height: 32px;
			margin: 0.5em 1em 0.5em 0;
		}
	}
	.b-c1{
		flex-direction: column;
	}
	.b-c-img{
		padding: 0.5em 1.5em;
		width: 65%;
		margin-bottom: 2em;
		flex-direction: row;
		height: 20%;
		justify-content: flex-start;
		img{
			width: 20%;
			padding-bottom: 0;
			margin-right: 3em;
		}
		h2{			
			text-align: left
		}
	}
	.b-c-body{
		width: 100%
	}
	.ben-side2{
		padding-top: 0;
	}
}

@media (max-width: 850px){
	.b-card{
		padding: 1.5em;
	}
}

@media (max-width: 750px){
	.b-c-img{
		width: 100%;
	}
}

@media (max-width: 630px){
	.b-pills {
		flex-direction: column;
	}
	 .b-link:nth-child(2), .b-link{
		margin: 0.5em 0;
	}	
	.b-card{
		padding: 1em;
	}
	.b-c-img {
		padding: 0.5em 1em;
		> img {
			width: 25%;
			margin-left: 1em;
		}
	}
}



/*--------------------------------------------------------------
# EXCEPTION CATEGORIES
--------------------------------------------------------------*/
.b-cg{
	flex-direction: column;
	> .b-c-body{
		width: 100%;
	}
}

.b-c-title{
	width: 100%;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 18pt;
    border: 0.15em solid;
}

.b-pills1{
	flex-direction: column;
}

.p-btns2{
	display: flex;
    justify-content: space-evenly;
	> a{
		width: -webkit-fill-available;
	}
	> a:first-child{
		margin-right: 0.5em;
	}
	> a:last-child{
		margin-left: 0.5em;
	}
}

.b-link1{
	flex-direction: row;
	width: 370px;
	margin: 0.8em 0 0 0;
	padding: 1em;
	text-align: start;
	justify-content: normal;
	>svg{
		margin-bottom: 0;
		max-height: 45px;
		max-width: max-content !important;
		padding-right: 1.5em;
	}
}

.b-link1:nth-child(2){
	margin-top: 0.8em !important;
}


@media (max-width: 1600px){
	.b-link1{
		margin: 0.5em 0 0 0;
		font-size: 13pt;
		padding: 0.7em 1em;
		>svg{
			padding-right: 1em;
		}
	}
	.b-link1:nth-child(2){
		margin-top: 0.5em !important;
	}
}

@media (max-width: 1545px){
	.b-pills2{
		margin-top: 1em;
	}
}

@media (max-width: 1450px){
	.b-link1 {
		width: 300px;
	}
}

@media (max-width: 1250px){
	.p-set {
		flex-direction: column;
		>.ben-container {
			margin-left: 0;
		}
	}
	.b-pills2{
		justify-content: flex-start;
		margin-top: 3em;
	}
	.b-link1:first-child{
		margin: 0;
	}
	.b-link1, .b-link1:nth-child(2), .b-link1:first-child {
		height: 100% !important;
		margin: 0 0.5em 0.5em 0;
	}
	.b-link1:nth-child(2) {
		margin-top: 0 !important;
	}
}

@media (max-width: 1085px){
	.b-pills2{
		margin-top: 1em;
	}
}


@media (max-width: 992px){
	.b-link1 > svg {
		padding: 0;
		margin-right: 1em
	}
	.b-c-title{
		justify-content: center;
		> h2{
			text-align: center;
		}
	}
	.b-pills2{
		margin-top: 0;
	}
}

@media (max-width: 832px){
	.p-btns2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.p-btns2 > a {
    	width: 80%;
	}
	.p-btns2 > a:first-child {
		margin-right: 0;
	}
	.p-btns2 > a:last-child {
		margin-left: 0;
		margin-top: 0.5em;
	}
}

@media (max-width: 550px){
	.p-btns2 > a {
    	width: 100%;
	}
}
