/*--------------------------------------------------------------
# MAIN HR INFO PAGE
--------------------------------------------------------------*/
.info-body{
	width: 80%;
	padding: 2em;
	display: flex;
	flex-direction: column;
}

.hr-info-cards{
	padding: 0;
	width: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hr-card{
	border: 0.2em solid #0c2340;
    padding: 0.7em;
    border-radius: 15px;
    background: #fbfbfb;
	margin-bottom: 2em;
	> .card-body > h5{
		text-transform: uppercase;
		font-size: 22pt;
		line-height: normal;
		margin-bottom: 0.7em;
		font-weight: 700;
		color: #00c756;
	}
}

.hr-opts > div > svg{
	width: 2.4em;
}

.hr-c > .card-body{
	text-align: justify;
	text-transform: capitalize;
	> p{
		line-height: normal;
		font-weight: 400;
	}
	> a{
		width: auto;
		margin: 1em 0 0 0;
		padding: 0.5em 2em !important;
	}
}

/*RESPONSIVE AREA*/
@media (max-width: 1650px){
	.info-body{
		padding-left: 0;
	}
	.h-link{
		width: 100%;
	}
	.h-cards{
	    flex-direction: column;
	}
}

@media (max-width: 1650px) and (min-width: 1500px){
	.info-body{
		flex-direction: row;
	}
	.hr-info-cards{
		padding-right: 2em;
		width: 65%;
	}
	.hr-card{
		margin-bottom: 0;
		padding: 0;
		> .card-body > h5{
			margin-bottom: 0.4em;
		}
	}
	.hr-c > .card-body > a{
		width: -webkit-fill-available;
		margin: 1em 0 0 0;
		padding: 0.3em 1em !important;
	}
	.hr-opts > br{
		display: none;
	}
	.hr-cards2{
		flex-direction: column;
		> .col-sm-6{
			width: 100%;
		}
		>div:last-child{
			padding-top: 1.2em;
		}
	}
	.h-sec-cards{
		width: 35%;
	}
	.h-card{
		padding: 0 !important;
	}
	.hr-card > .card-body > h5 {
		margin-bottom: 0.4em;
	}
	.h-link {
		width: 100% !important;
	}
}

@media (max-width: 1500px){
	.info-body{
		width: 100%;
	}
}

@media (max-width: 1450px){
	.info-content1{
		padding: 0;
		flex-direction: column;
	}
	.info1{
		padding-bottom: 1.5em;
	}
	.info1 > .info-title > h1 > br{
		display: none;
		flex: none;
	}
	.info-body{
		padding-top: 1em;
	}
	.hr-card{
		margin-bottom: 0.5em;
	}
	.h-cards{
		width: 100%;
		margin: 0;
	}
	.h-link {
    	padding: 0;
	}
	.h-card > .card-body > p > br{
		display: none;
		flex: none;
	}
	.g-4, .gy-4 {
		--bs-gutter-y: 0.5rem;
	}
}

@media (max-width: 768px){
	.hr-c > .card-body > a{
		width: -webkit-fill-available;
		margin: 1em 0 0 0;
		padding: 0.3em 1em !important;
	}
	.info-body{
		padding: 0 2em 2em 2em;
	}
	.h-card > .card-body, .hr-card{
		padding: 0;
	}
}

/*--------------------------------------------------------------
# SERVICES CARDS
--------------------------------------------------------------*/
/* SERVICES */
	.h-sec-cards{
		display: flex;
		align-items: stretch;
	}

	.h-cards{
	    flex-direction: row;
		justify-content: space-between;
	}

	.h-link{
		text-decoration: none;
		width: 30%
	}

	.h-card{
		background: #d9d9d97d;
		border: 0.2em solid #0c2340;
		padding: 1em;
		border-radius: 15px;
	}

	.h-card >.card-body > h5{
		text-transform: uppercase;
		font-size: 22pt;
		line-height: normal;
		margin-bottom: 0.7em;
		font-weight: 700;
		color: #00c756;
	}

	.h-card >.card-body > p{
		font-size: 14pt;
		font-weight: 400;
		line-height: normal;
		color: #0c2340;
	}


	.h-card:hover{
		background: #0c2340;
		p {
			transition: all 0.3s ease-out;
			color: #f3f3f3;
		  }
	}

	.h-cards < a:first-child{
		margin-top: 0 !important;
	}



/*--------------------------------------------------------------
# ACCORDION PAGE
--------------------------------------------------------------*/
	.info-accordion{
		width: 80%;
		margin: 2em;
	}

	.info1{
		width: 20%;
		padding: 2em;
		margin-bottom: 1em;
	}

/* TITLE SECTION*/
	.info-title > h1 > span{
		color: #00c756;
	}

/* ACCORDION SECTION */
	.accordion-button{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16pt;
		background: #d9d9d9;
		border-radius: 0.55em;
		color: #0c2340;
	}

	.accordion-item,
	.accordion-item:first-of-type,
	.accordion-item:first-of-type .accordion-button,
	.accordion-item:not(:first-of-type),
	.accordion-item:last-of-type .accordion-button.collapsed{
		border-radius: 0.55em;
	}
	
	/*Bold set*/
	.e-ibold{
		font-weight: 800;
		color: #0d6efd;
	}

	/* CUSTOM ARROW */
	.accordion{
		--bs-accordion-border-width: 0.2em solid #0c2340 !important;
		--bs-accordion-btn-active-icon: none;
		--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg width='16' height='16' viewBox='0 0 16 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.95842 23.7071C7.34894 24.0976 7.98211 24.0976 8.37263 23.7071L14.7366 17.3431C15.1271 16.9526 15.1271 16.3195 14.7366 15.9289C14.3461 15.5384 13.7129 15.5384 13.3224 15.9289L7.66553 21.5858L2.00867 15.9289C1.61815 15.5384 0.984983 15.5384 0.594459 15.9289C0.203934 16.3195 0.203934 16.9526 0.594459 17.3431L6.95842 23.7071ZM6.66553 -3.63315e-08L6.66553 23L8.66553 23L8.66553 3.63315e-08L6.66553 -3.63315e-08Z' fill='%230C2340'/%3e%3c/svg%3e");
	}

/* SETTINGS ACCORDION */
	.accordion-item:not(:first-of-type){
		border: 0.2em solid #0c2340;
	}

	.accordion-item{
		margin-bottom: 0.5em;
		color: #0c2340;
		background-color: #d9d9d9;
		border: 0.2em solid #0c2340;
		margin-left: 0.75em;
	}

	.accordion-body{
		padding-top: 0;
		font-weight: 400;
		> ul{
			padding-left: 1em;
		}
	}

	/*SHADOW OR SELECTION CARD SET*/
	.accordion-button:focus {
		border-color: transparent !important;
		box-shadow: none !important;
	}

	/* CARD ONE SET*/
	.accordion-opts{
		color: #0c2340;
		padding-left: 1em;
		padding-bottom: 0.7em;
	}

	.a-opts1, 
	.a-opts2{
		display: flex;
	}

	.a-opts1 > p, 
	.a-opts2 > p{
		line-height: normal;
		margin-left: 1em;
		font-weight: 400;
	}

	.accordion-button:not(.collapsed){
		background: transparent;
		font-size: 20pt;
	}


/* NUM SET */
	.a-num{
		list-style: decimal;
		::marker{
			font-weight: 800;
		}
	}

/* BTN SET */
.btn-i2{
	margin: 0 0.5em;
}

/* CARDS ANIMATION */
	.accordion-item.active {
		box-shadow: 15px 15px #0c2340;
		margin: 0 0.8em 1.4em 0;	
	}

/*RESPONSIVE AREA*/
	@media (max-width: 1650px){
		.info-accordion {
			width: 70%;
		}
		.accordion-button{
			padding: 0.5em;
		}
	}

	@media (max-width: 1350px){
		.info-accordion{
			width: 95%;
			margin-top: 0;
		}
		.info-title {
			position: relative;
		}
		.accordion-item{
			margin-left: 0;
		}
		.info1{
			width: 100%;
		}
	}

	@media (max-width: 768px){
		.info-accordion{
			width: 100%;
			margin: 0;
			padding: 0 2em 2em 2em;
		}
	}