@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		font-family:'Urbanist', sans-serif;
		vertical-align: baseline;}

	body, input, textarea, select {
		font-weight: 300;
		color: #0c2340;
		font-size: 14pt;
		line-height: 1.75em;
	}

	html {
		line-height:1.15; 
		-ms-text-size-adjust: 100%; 
		-webkit-text-size-adjust: 100%;
		display: block;
	}

	html, scroll{
		scroll-behavior: smooth;
	}

/*--------------------------------------------------------------
# SCROLLBAR
--------------------------------------------------------------*/
	::-webkit-scrollbar {
		background-color: #f3f3f3;
	}

	::-webkit-scrollbar-thumb {
		background-color: #0c2340;
		border-radius: 5em;
		border: 0.15em solid #f3f3f3;
	}


/* FIREFOX SCROLLBAR */
	@-moz-document url-prefix() {
		* {
			scrollbar-width: auto;
			scrollbar-color: #0c2340 #f7f7f7;
		}
	}

	/*::-webkit-scrollbar{
		display: none;
	}*/

	@media (max-width: 768px){
		::-webkit-scrollbar{
			display: none;
		}
	}


/*--------------------------------------------------------------
# BODY
--------------------------------------------------------------*/
	body{
		background: #f3f3f3;
		margin: 0
	}

	html, body{
		overflow-x: clip;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		/*	-moz-animation: none !important;
			-ms-animation: none !important; */
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}/*preload*/


/*BUTTONS*/
	.btn{
		--bs-btn-line-height:none !important;
	}

/* CONTAINERS */
	.container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
		padding: 0;
		margin: 0;
	}


/*--------------------------------------------------------------
#NAVBAR
--------------------------------------------------------------*/
	.navbar{
		--bs-navbar-toggler-border-color: none;
		--bs-navbar-hover-color: #00c756;
	}

	.navbar-nav .nav-link.show {
		border-bottom: solid 0.2em #00c756;
		color: #00c756;
	}

	.navbar-set{
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
		--bs-navbar-padding-x:0.5em ;
	}

	.navbar-collapse {
		justify-content: flex-end;
	}

	.navbar-brand {
		padding: 0 2em;
		display: flex;
    	align-items: flex-end;
	}

	.navbar-nav{
		align-items: center;
	}

	.nav-item{
		margin-right: 5em;
		list-style: none;
		border-bottom: solid 0.2em transparent;
	}/*Hover border*/

	.nav-item:last-child{
		margin-right: 2.5em;
	}

	.nav-link{
		font-weight: 300;
		border-bottom: 0.15em solid transparent;
		float: left;
		font-size: 15pt;
	}

	.nav-link:hover{
		border-bottom: solid 0.15em #00c756;
		transform-origin: left;
  		transition: transform 0.5s ease-in-out;
	}

	.nav-link:active{
		border-bottom: solid 0.15em #a8adb0;
	}

	.nav-active{
		border-bottom: solid 0.2em #a8adb0;
	}

	.navbar-nav .nav-link.active {
		border-bottom: solid 0.2em #a8adb0;
		color: #a8adb0;
	} /* ACTIVE BORDER SELECTION */

	.dropdown-item.active, .dropdown-item:active {
		color: #00c756;
		background-color: #c9cacb33;
	}

	.bg-body-tertiary{
		background: #0c2340 !important;
	} /* background navbar */

/* NAVBAR - DROPDOWN */
	.dropdown-menu-dark{
		--bs-dropdown-color: #f3f3f3;
		/*--bs-dropdown-bg: #0c2340;*//*solid bg color*/
		--bs-dropdown-link-hover-color: #00c756;
		--bs-dropdown-link-active-color: #00c756;
		--bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.15);
		--bs-dropdown-item-padding-x: 4rem;
    	--bs-dropdown-item-padding-y: 1rem;
		--bs-dropdown-bg: #0c2340cf;/*blur bg color*/
    	backdrop-filter: blur(8px);/*blur*/
	}

	.dropdown {
    	position: static !important;
    }
          
    .dropdown-menu {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        margin-top: 0px !important;
        width: 100% !important;
	}



/*LOGO- infocenter*/
	.info-logo{
		font-size: 26pt;
		/* padding-bottom: 0; */
		font-weight: 550;
		color: #a8adb0;
		margin-left: 0.25em;
		text-transform: uppercase
	}

	.info-logo > span{
		color: #00c756;
		font-size: 80pt;
		line-height: 0;
	}

	

/* NAVBAR - BUTTON */
	.btn-success{
		border-radius: 5em !important;
		background-color: #00c756 !important;
		padding: 0.3em 1em !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		margin-right: 2em;
		line-height: none;
	}

	.nav-btn{
		display: flex;
		justify-content: flex-end;
	}

/* TOGGLER BUTTON */
	.navbar-toggler{
		width: 20px;
		height: 30px;
		position: relative;
		transition: .5s ease-in-out;
		margin-right: 1em;
	}

	.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
		outline: none;
		box-shadow: none;
		border: 0;
	}

	.navbar-toggler span{
		margin: 0;
		padding: 0;
	}

	.toggler-icon{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #a8adb0;
		border-radius: 5em;
		opacity: 1;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
	}

	.middler-bar{
		margin-top: 0px;
	}

	/* navigation clicked */
	.navbar-toggler .top-bar{
		margin-top: 0em;
		transform: rotate(135deg);
	}

	.navbar-toggler .middle-bar{
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.navbar-toggler .bottom-bar{
		margin-top: 0px;
		transform: rotate(-135deg);
	}

	/* navbar collapsed */
	.navbar-toggler.collapsed .top-bar{
		margin-top: -8px;
		transform: rotate(0deg);
	}

	.navbar-toggler.collapsed .middle-bar{
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.navbar-toggler.collapsed .bottom-bar{
		margin-top: 8px;
		transform: rotate(0deg);
	}


/* NAVBAR - DROPDOWN TOGGLE */
	.dropdown-toggle::after{
		border: none;
	}
	
	.dropdown-toggle {
		color: #a8adb0;
	}

	.dropdown-menu{
		box-shadow: none!important;
		--bs-dropdown-border-width: none;
		--bs-dropdown-border-radius: none;
	}

	ul.multicolumn {
		left: 300px;
		margin-bottom: 20px;
		overflow: hidden;
	}

	ul.multicolumn li {
		text-align: center;
	}

	ul.multicolumn > li {
		border-bottom: 0.1em solid #dee2e63b;
	}

	ul.multicolumn li:last-child {
		border-bottom: 0;
	}

	.navbar-toggler{
		color: transparent;
	 }

	/* RESPONSIVE TOGGLE */
		@media (max-width: 1350px){
			.nav-item {
				margin-left: 2em;
				a{
					font-size: 14pt
				}
			}
			.nav-item:last-child{
				margin-right: 1em;
			}
			.navbar-brand{
				padding: 0 1em;
			}
		}

		@media (max-width: 1175px){
			.nav-item {
				margin-right: 0 !important;
			}
		}

/* NAVBAR - DROPDOWN TOGGLE */
	.dropdown-toggle::after{
		border: none;
	}

	.dropdown-menu{
		box-shadow: none!important;
		--bs-dropdown-border-width: none;
		--bs-dropdown-border-radius: none;
	}

	.navbar-toggler{
		color: transparent;
	}


/* RESPONSIVE AREA */
	@media (max-width: 1650px){
		.nav-item {
			margin-right: 3em;
		}
	}

		@media (max-width: 991px){
			.navbar-nav{
				padding: 0;
				align-items: flex-start;
			}
			.nav-item{
				margin:0;
				width: 100%;
			}
			.btn-success{
				margin:0;
			}
			.header-link{
				padding-left: 1em;
				padding-right: 1em;
			}
			.p-2{
				padding: 1em 0 !important;
			}
			.navbar-nav > li > a:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
				color: #00c756 !important;
			}
			.navbar-nav .nav-link.active{
				border-color: #00C756;
			}
			.bg-body-tertiary{
				background-color: #0c2340!important;
			}
			.nav-link{
				border: none;
			}
			.nav-active{
				color: #a8adb0 !important;
			}
			.nav-link:hover{
				border-bottom: none;
			}
			.dropdown-menu{
				border-top: solid 0.2em #00c756;
			}
			ul.multicolumn{
				margin-bottom: 0;
			}
			ul.multicolumn li {
				float:none !important;
			}
			.dropdown-menu-dark{
				--bs-dropdown-bg: transparent;
				--bs-dropdown-item-padding-x: 1em;
				--bs-dropdown-link-hover-bg: #c9cacb33;
				--bs-dropdown-link-hover-color: #00c756;
			}
			.dropdown-item{
				color: #dee2e6;
			}
			.navbar-nav .nav-link.show {
				border-bottom: none;
			}
			.nav-btn{
				padding-right: 1em;
			}
			.navbar-nav .nav-link.active{
				width: 100%;
			}
		}

		@media (max-width: 500px){
			.navbar-nav{
				padding: 0;
				padding-bottom: 1em;
			}
			.navbar-set{
				--bs-navbar-padding-y: 0.2rem; /* responsive height */
			}
			.header-link {
				margin-left: 0;
			}
			.dropdown-item{
				--bs-dropdown-item-padding-x: 0.5em;
			}
			.navbar-set > .container-fluid{
				padding: 0.2em 0.5em;
			}
			.dropdown-menu > li > .dropdown-item{
				white-space: break-spaces !important;
				font-size: 11pt;
				line-height: 16pt;
			}
		}


	/* RESPONSIVE AREA - LOGO */
		@media (min-width: 1350px){
			#logo1{
				display: flex !important;
				visibility: visible !important;
			}
			#logo2{
				display: none !important;
				visibility: hidden !important;
			}
		}

		@media (max-width: 1350px){
			#logo1{
				display: none !important;
				visibility: hidden !important;
			}
		}

		@media (max-width: 991px){
			#logo1{
				display: flex !important;
				visibility: visible !important;
			}
			#logo2{
				display: none !important;
				visibility: none !important;
			}
		}


		@media (max-width: 590px){
			#logo1{
				display: none !important;
				visibility: none !important;
			}
			#logo2{
				display: flex !important;
				visibility: visible !important;
			}
		}

		

	/* RESPONSIVE NAVBAR- BUTTON */
		@media (max-width: 1017px){
			.btn-success{
				margin-right: 0;
			}
			.navbar-brand {
				padding: 0.2em 0;
			}
		}

	/* RESPONSIVE NAVBAR SHADOW */
		@media (max-width: 500px){
			.navbar-set{
				box-shadow: none;
			}
		}


/*--------------------------------------------------------------
# HOMEPAGE
--------------------------------------------------------------*/
	#homepage{
		background: #F3F3F3;
	}

	.home-content1{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

/* CAROUSEL AREA */
	.h-sec-banner{
		width: 58.5%;
	}


/*--------------------------------------------------------------
# CAROUSEL
--------------------------------------------------------------*/
.hc-set{
	position: fixed;
	width: 58.5%;
}

/* WELCOME - ICONS */
	.carousel-control-prev-icon{
		background-image: url('data:image/svg+xml,<svg  viewBox="0 0 102 66"  fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path  d="M22.2744 34.6418C21.6886 34.0561 21.6886 33.1063 22.2744 32.5205L31.8204 22.9746C32.4062 22.3888 33.3559 22.3888 33.9417 22.9746C34.5275 23.5604 34.5275 24.5101 33.9417 25.0959L25.4564 33.5812L33.9417 42.0665C34.5275 42.6522 34.5275 43.602 33.9417 44.1878C33.3559 44.7736 32.4062 44.7736 31.8204 44.1878L22.2744 34.6418ZM78.3483 35.0812H23.3351V32.0812H78.3483V35.0812Z"/></svg>');
		background-color: #0c2340c2/* #00c75680*/ /* #0d6efdc9 */;
	}

	.carousel-control-next-icon{
		background-image: url('data:image/svg+xml,<svg viewBox="0 0 102 66" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M79.4463 34.6418C80.0321 34.0561 80.0321 33.1063 79.4463 32.5205L69.9003 22.9746C69.3145 22.3888 68.3648 22.3888 67.779 22.9746C67.1932 23.5604 67.1932 24.5101 67.779 25.0959L76.2643 33.5812L67.779 42.0665C67.1932 42.6522 67.1932 43.602 67.779 44.1878C68.3648 44.7736 69.3145 44.7736 69.9003 44.1878L79.4463 34.6418ZM23.3724 35.0812H78.3856V32.0812H23.3724V35.0812Z"/></svg>');
		background-color: #0c2340c2/*#00c75680*/;
	}

	.carousel-control-next-icon, .carousel-control-prev-icon{
		border: solid 0.15em #0c2340;
		border-radius: 5em;
		padding: 0.2em 1.5em;
		display: grid;
		/*background: #00c75680;*/
	}

	.carousel-control-next, .carousel-control-prev {
		display: flex;
		align-items: flex-end;
		width: 20%;
		opacity: inherit !important;
	}

	.carousel-control-prev-icon {
		position: absolute;
		display: flex;
		justify-content: flex-end;
	}

	#prev-icon{
		display: flex;
		width: 92%;
		justify-content: flex-end;
	}

	.controls {
		position: relative;
		bottom: 8.5em;
	}

	.carousel-control-next{
		margin-right: 0.5em;
	}

	.carousel-control-prev, .carousel-control-next{
		margin-bottom: 2em ;
	}

/*--------------------------------------------------------------
# GALLERY LINK
--------------------------------------------------------------*/
.h-sec-gallery{
	width: 41.5%;
	padding: 6.4em 0;
	display: flex;
    justify-content: center;
}

.hg-card{
	border: 0.2em solid #0c2340;
	padding: 1em;
	width: 72%;
	border-radius: 0.75em;
}

.h-card-gallery{
	display: flex;
    flex-direction: column;
	color: #0c2340;
	align-items: center;
	text-align: center;
    line-height: normal;
	>h5{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 20pt;
		margin-top:1em
	}
	>p{
		text-align: center;
		line-height: normal;
		padding: 0.2em 0 1em 0;
	}
	>a{
		width: -webkit-fill-available;
		margin: 0 1.5em;
		padding: 0.5em 0 !important;
	}
}

.hg-carousel{
	border-radius: 0.5em;
}


/* SECONDARY BTN */
	.btn-info {
		border-radius: 0.5em !important;
		background-color: #0d6efd !important;
		padding: 0.3em 1em !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		margin-right: 2em;
		line-height: unset;
	}

	.btn-info:hover{
		background-color: #00C756 !important;	
	}


@media (max-width: 1600px){
	.h-sec-banner, .hc-set{
		width: 55.5%;
	}
	.h-sec-gallery{
		width: 44.5%;
	}
	.hg-card{
		width: 68%;
	}
	.h-sec-gallery{
		padding: 2em 0;
	}
	.h-card-gallery > a{
		margin: 0 0.5em
	}
}



/*--------------------------------------------------------------
# GENERAL SETTINGS
--------------------------------------------------------------*/
	.info-content1, .ben-content1{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

/* GENERAL BTN */
	.btn-primary {
		border-radius: 0.5em !important;
		background-color: #0c2340 !important;
		padding: 0.3em 1em !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		line-height: unset;
	}

	.btn-primary:hover{
		background-color: #00C756 !important;	
	}

/* TITLE */
	.info-title > h1, .ben-title > h1, .gal-title > h1, .g-title, .sla-title, .it-title{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 30pt;
		line-height: normal;
	}

	/* NO SCROLL */
		.info-title{
			position: fixed; 
		}

/*RESPONSIVE AREA*/
@media (max-width: 1350px){
	.info-content1, .ben-content1{
		flex-direction: column;
		margin: 0;
	}
}
